<app-page-layout>
  <div class="container">
    <div class="row">
      <div class="row text-center m-3" *ngIf="!favoriteGames.length">
        <h1 class="display-5">You still do not have favorite games added.</h1>
        <span>
          You can add games to favorites by clicking 'Add to favorite' button in
          the home page.</span
        >
      </div>

      <ng-container
        *ngFor="
          let game of favoriteGames
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <div class="card m-3 p-0" style="width: 18rem">
          <img
            class="card-img-top"
            src="{{ game.thumbnail }}"
            alt="Card image cap"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ game.title }}</h5>
            <p class="card-text">{{ game.short_description }}</p>
            <div class="mt-auto">
              <a class="btn btn-danger" (click)="removeGameToFavorite(game.id)"
                >Remove Favorite</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div>
      <ngb-pagination
        *ngIf="favoriteGames.length"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="favoriteGames.length"
        aria-label="Default pagination"
      ></ngb-pagination>
    </div>
  </div>
</app-page-layout>
