<app-page-layout>
  <app-search-bar (searchEvent)="onSearchEvent($event)"></app-search-bar>
  <div class="container">
    <app-progress-bar *ngIf="isLoading"></app-progress-bar>
    <div class="row">
      <ng-container
        *ngFor="
          let game of filteredGames
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <div class="card m-3 p-0" style="width: 18rem">
          <img
            class="card-img-top"
            src="{{ game.thumbnail }}"
            alt="Card image cap"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ game.title }}</h5>
            <p class="card-text">{{ game.short_description }}</p>
            <div class="mt-auto">
              <a class="btn btn-primary" (click)="openGameDetails(game.id)"
                >More Details</a
              >
              <a
                class="btn btn-dark mx-2"
                *ngIf="!favoriteService.existsOnFavorites(game.id)"
                (click)="addGameToFavorite(game)"
                >Add to Fav</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div>
      <ngb-pagination
        *ngIf="filteredGames.length"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="filteredGames.length"
        aria-label="Default pagination"
      ></ngb-pagination>
    </div>
  </div>
</app-page-layout>
