<!-- NOTE Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-info-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/dashboard']">
      {{ appName }}
    </a>
    <div class="navbar-collapse"></div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- NOTE Content -->
<ng-content></ng-content>
