<!-- NOTE Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      {{ appName }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isMenuCollapsed"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0 w-100">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            [routerLinkActive]="['active']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/favorites']"
            [routerLinkActive]="['active']"
            >Favorites</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- NOTE Content -->
<ng-content></ng-content>
